<div class="list-group-item">
    <h3 (click)="showDefinition = !showDefinition" style="cursor: pointer;">{{translate('Define your test')}}</h3>
    <form [hidden]="!showDefinition">
        <div class="form-group">
            <div *ngIf="data" class="col-10" style="padding: 0;">
                <div *ngFor="let questionnaire of data">
                    <input type="checkbox" [(ngModel)]="questionnaire.test" id="defaultCheck1" name="qus" (change)="selectQuestionnaire()"> {{questionnaire.title}}
                    <span class="badge badge-primary badge-pill">{{questionnaire.questions.length}}</span>                
                </div>
            </div>
        </div>
        <div *ngIf="!data || data.length == 0">
            {{translate('No questionnaire defined!')}} <a [routerLink]="'/inputs'">{{translate('Define one here.')}}</a>
            <br>
            <br>
        </div>
        <div class="form-group">
            <input type="text" class="form-control" placeholder="Title" [(ngModel)]="title" name="title">
        </div>
        <div class="form-group">
            <input type="number" class="form-control" id="exampleInputPassword1" placeholder="Number of questions to ask (empty means the whole questionnaire)" [(ngModel)]="nbQuestions" name="nbQuestions">
        </div>
        <div class="form-group">
            <input type="checkbox" id="defaultCheck1" [(ngModel)]="randomQuestions" name="randomQuestions"> {{translate('Random questions')}}
        </div>
        <div class="form-group">
            <input type="checkbox" value="" id="defaultCheck1"  [(ngModel)]="nextIfCorrect" name="nextIfCorrect"> {{translate('Next question if correct')}}
        </div>
        <div class="form-group" title="{{translate('Questions will be answers and answers will be questions')}}">
            <input type="checkbox" value="" id="defaultCheck1"  [(ngModel)]="jeopardy" name="nextIfCorrect"> {{translate('Jeopardy mode')}}
        </div>
        <button type="submit" class="btn btn-primary" (click)="start()"><i class="fa fa-play"></i> {{translate('Let\'s go')}}</button>
    </form>
</div>
<br>
<div class="list-group-item" *ngIf="currentQuestions && currentQuestions[currentQuestionIndex]">
    <h3>{{translate('Test in progress')}}</h3>
    <progressbar  type="warning" [max]="nbQuestions" [value]="currentQuestionIndex + 1">
        <span class="text-nowrap" style="color: black">{{score.messagePourcentage}}</span>
    </progressbar>
    <div style="font-size: 1.5em">
        <span class="badge badge-pill badge-success"><i class="fa fa-thumbs-up"></i> {{score.scoreOk}}</span>
        <span class="badge badge-pill badge-danger"><i class="fa fa-thumbs-down"></i> {{score.scoreNok}}</span>
    </div>
    <em>
        <span *ngIf="startDate">{{translate('Start')}} {{startDate | date: 'dd/MM/yyyy HH:mm:ss'}}<br></span>
        <span *ngIf="endDate">{{translate('End')}} {{endDate | date: 'dd/MM/yyyy HH:mm:ss'}}<br></span>
    </em>
        <!-- Results -->
    <div style="margin-top: 20px" class="jumbotron" *ngIf="currentQuestions[currentQuestionIndex].checked && currentQuestionIndex == (currentQuestions.length - 1)">
        <h3>{{translate('Congratulations!!')}}</h3>
        <h5>{{translate('Your score is: ') + score.messagePourcentage}}</h5>
        <span (click)="showResults = ! showResults" style="cursor: pointer;">{{translate('See all questions and answers')}}</span>
        <div *ngIf="showResults">
            <test *ngIf="tester" [fileName]="tester.fileName"></test>
        </div>
    </div>
    <div class="align-items-center justify-content-md-center">
        <br>
        <form >
            <div class="card text-center">
                <div class="card-header">
                    {{ currentQuestions[currentQuestionIndex].questionLabel }}
                </div>
                <div class="card-body">
                    <span class="card-title">
                        {{ currentQuestions[currentQuestionIndex].question }} <br>
                        {{ currentQuestions[currentQuestionIndex].detail }}
                    </span>
                    <br>
                    <div class="card-text">
                        <input autocomplete="off" type="text" class="form-control" [(ngModel)]="currentQuestions[currentQuestionIndex].customAnswer" name="qus" style="margin-bottom:20px">
                    </div>
                    <div class="row">
                        <div class="col-2" (click)="previousQuestion()" style="cursor: pointer;">
                            <i class="fa fa-chevron-left align-middle"></i>
                        </div>
                        <button   type="submit" class="btn btn-light col-8" 
                            (click)="checkQuestion(currentQuestions[currentQuestionIndex], currentQuestions[currentQuestionIndex].customAnswer)">
                            <i class="fa fa-check"></i> {{translate('Check')}}
                        </button>
                        <div class="col-2" (click)="nextQuestion()" style="cursor: pointer;">
                            <i class="fa fa-chevron-right align-middle"></i>
                        </div>
                    </div>
                    <div *ngIf="currentQuestions[currentQuestionIndex].checked">
                        <br>
                        <questionCheck style="text-align: left;" [question]="currentQuestions[currentQuestionIndex]"></questionCheck>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>