<!-- definitions -->
<h3 (click)="showDefinition = !showDefinition" style="cursor: pointer;">{{translate('Define your test')}}</h3>
<div class="list-group-item" *ngIf="test">
    <form [hidden]="!showDefinition">
        <div class="form-group">
            <div class="row">
                <div class="col-10">
                    <h6>{{translate('Choose your questionnaires')}}</h6>
                    <div *ngIf="questionnaires" class="col-10" style="padding: 0;">
                        <div *ngFor="let questionnaire of questionnaires">
                            <input type="checkbox" [(ngModel)]="questionnaire.test" id="defaultCheck1" name="qus" (change)="selectQuestionnaire()"> 
                            <span [style.text-decoration]="questionnaire.disabled ? 'line-through' : ''">
                                {{(questionnaire.title ? questionnaire.title : questionnaire.defaultTitle)}}
                            </span>
                            <span class="badge badge-primary badge-pill">{{questionnaire.questions.length}}</span>  
                            <span class="badge badge-secondary">{{questionnaire.type}}</span>              
                        </div>
                    </div>
                </div>
                <div class="col-2 text-right" style="cursor: pointer;">
                    <div class="dropdown">
                        <button style="background-color:transparent; border: 0" class="btn btn-secondary" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            <i  class="fa fa-ellipsis-v"></i>
                        </button>
                        <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                            <a class="dropdown-item" (click)="selectAll(true)"><i class="fa fa-square-o"></i> {{translate('Select all')}}</a>
                            <a class="dropdown-item" (click)="selectAll(false)"><i class="fa fa-check-square-o"></i> {{translate('Deselect all')}}</a>
                            <div class="dropdown-divider"></div>
                            <a class="dropdown-item" (click)="filter('questionnaire', showDisabled)"><i class="fa fa-filter"></i> {{translate('Questionnaires only')}}</a>
                            <a class="dropdown-item" (click)="filter('test', showDisabled)"><i class="fa fa-filter"></i> {{translate('Tests only')}}</a>
                            <div class="dropdown-divider"></div>
                            <a class="dropdown-item" (click)="filter(filterType, !showDisabled)">
                                <i *ngIf="showDisabled" class="fa fa-check"></i> {{translate('Show disabled')}}
                            </a>
                            <div class="dropdown-divider"></div>
                            <a class="dropdown-item" (click)="filter()"><i class="fa fa-filter"></i> {{translate('No filter')}}</a>
                        </div>
                    </div>
                </div>  
            </div>                  
        </div>
        <div *ngIf="!questionnaires || questionnaires.length == 0">
            {{translate('No questionnaire defined!')}} <a [routerLink]="'/inputs'">{{translate('Define one here.')}}</a>
            <br>
            <br>
        </div>
        <div class="form-group">
            {{test.defaultTitle}}
            <input type="text" class="form-control" placeholder="Title" [(ngModel)]="test.title" name="title">
        </div>
        <div class="form-group">
            <input type="number" class="form-control" id="exampleInputPassword1" placeholder="Number of questions to ask (empty means the whole questionnaire)"
             [(ngModel)]="nbQuestions" name="nbQuestions">
        </div>
        <div class="form-group">
            <input type="checkbox" id="defaultCheck1" [(ngModel)]="test.randomQuestions" name="randomQuestions"> {{translate('Random questions')}}
        </div>
        <div class="form-group">
            <input type="checkbox" value="" id="defaultCheck1"  [(ngModel)]="test.nextIfCorrect" name="nextIfCorrect"> {{translate('Next question if correct')}}
        </div>
        <div class="form-group" title="{{translate('Questions will be answers and answers will be questions')}}">
            <input type="checkbox" value="" id="defaultCheck1"  [(ngModel)]="test.jeopardy" name="nextIfCorrect"> {{translate('Jeopardy mode')}}
        </div>
        <div class="form-group" title="{{translate('Accents and cape letters will be taken into account')}}">
            <input type="checkbox" value="" id="defaultCheck1"  [(ngModel)]="test.exactMatching" name="exactMatching"> {{translate('Exact matching')}}
        </div>
        <div class="form-group" title="{{translate('Only questions marked as favorite will be asked')}}">
            <input type="checkbox" value="" id="defaultCheck1"  [(ngModel)]="test.favoriteOnly" name="favoriteOnly"> {{translate('Favorite questions only')}}
        </div>
        <button type="submit" class="btn btn-primary" (click)="start()"><i class="fa fa-play"></i> {{translate('Let\'s go')}}</button>
    </form>
</div>
<br>

<!-- test -->
<h3 *ngIf="test && test.questions && test.questions[test.currentQuestionIndex]">{{translate('Test in progress')}}</h3>
<div class="list-group-item" *ngIf="test && test.questions && test.questions[test.currentQuestionIndex]">
    <progressbar  type="warning" [max]="test.nbQuestions" [value]="test.currentQuestionIndex + 1">
        <span class="text-nowrap" style="color: black">{{test.score.messagePourcentage}}</span>
    </progressbar>
    <div style="font-size: 1.5em">
        <span class="badge badge-pill badge-success"><i class="fa fa-thumbs-up"></i> {{test.score.scoreOk}}</span>
        <span class="badge badge-pill badge-danger"><i class="fa fa-thumbs-down"></i> {{test.score.scoreNok}}</span>
    </div>
    <em>
        <span *ngIf="startDate">{{translate('Start')}} {{test.startDate}}<br></span>
        <span *ngIf="endDate">{{translate('End')}} {{test.endDate}}<br></span>
    </em>
    
    <!-- Results -->
    <div style="margin-top: 20px" class="jumbotron" *ngIf="test.questions[test.currentQuestionIndex].checked && test.currentQuestionIndex == (test.questions.length - 1)">
        <h3>{{translate('Congratulations!!')}}</h3>
        <h5>{{translate('Your score is: ') + test.score.messagePourcentage}}</h5>
        <span (click)="showResults = ! showResults" style="cursor: pointer;">{{translate('See all questions and answers')}}</span>
        <div *ngIf="showResults">
            <br>
            <span (click)="saveTest()" style="cursor: pointer"><i class="fa fa-floppy-o"></i> {{translate('Save this test')}}</span>
            <br>
            <questionnaireLocal *ngIf="test" [questionnaire]="test"></questionnaireLocal>
        </div>
    </div>

    <!-- Question -->
    <div class="align-items-center justify-content-md-center">
        <br>
        <form >
            <div class="card text-center">
                <div class="card-header" [innerHTML]="test.questions[test.currentQuestionIndex].questionLabel"></div>
                <div class="card-body">
                    <span class="card-title">
                        <div [innerHTML]="test.questions[test.currentQuestionIndex].question"></div>
                        <div [innerHTML]="test.questions[test.currentQuestionIndex].detail"></div>
                    </span>
                    <br>
                    <div class="card-text">
                        <textarea (keyup.enter)="check()" class="form-control" [(ngModel)]="test.questions[test.currentQuestionIndex].customAnswer" name="qus" style="margin-bottom:20px"></textarea>
                        <!-- <input type="text" class="form-control" [(ngModel)]="test.questions[test.currentQuestionIndex].customAnswer" name="qus" style="margin-bottom:20px; line-height: 28px;">                         -->
                    </div>
                    <div class="row">
                        <div class="col-2" (click)="previousQuestion()" style="cursor: pointer;">
                            <i class="fa fa-chevron-left align-middle"></i>
                        </div>
                        <button type="submit" class="btn btn-light col-8" 
                            (click)="check()">
                            <i class="fa fa-check"></i> {{translate('Check')}}
                        </button>
                        <div class="col-2" (click)="nextQuestion()" style="cursor: pointer;">
                            <i class="fa fa-chevron-right align-middle"></i>
                        </div>
                    </div>
                    <div *ngIf="test.questions[test.currentQuestionIndex].checked">
                        <br>
                        <questionCheck style="text-align: left;" [question]="test.questions[test.currentQuestionIndex]"></questionCheck>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>