<div>
    <div *ngIf="message && showAlert" >
        <br>
        <div class="alert alert-success alert-dismissible fade show" role="alert">
            <strong>{{message}}</strong>
            <button type="button" class="close" (click)="showAlert = false">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
    </div>
    <br>
    <h1>{{translate('User')}}</h1>
    <br>
    <form *ngIf="isConnected" class="form-horizontal"  [formGroup]="formGroup">
        <fieldset>
            <div class="form-group row">
                <label class="col-lg-2 control-label">{{translate('Login')}}</label>
                <input class="form-control col-lg-10" type="text" formControlName="login" placeholder="{{translate('Login')}}">
            </div>
            <div class="form-group row">
                <label class="col-lg-2 control-label">{{translate('Email')}}</label>
                <input class="form-control col-lg-10" type="text" formControlName="email" placeholder="{{translate('Email')}}">
            </div>
            <div class="form-group row">
                <label class="col-lg-2 control-label">{{translate('Last name')}}</label>
                <input class="form-control col-lg-10" type="text" formControlName="lastname" placeholder="{{translate('Email')}}">
            </div>
            <div class="form-group row">
                <label class="col-lg-2 control-label">{{translate('First name')}}</label>
                <input class="form-control col-lg-10" type="text" formControlName="firstname" placeholder="{{translate('First name')}}">
            </div>
            <div class="form-group row">
                <label class="col-lg-2 control-label">{{translate('Language')}}</label>
                <select class="form-control col-lg-10" [(ngModel)]="user.language" formControlName="language">
                    <option value="EN">Anglais</option>
                    <option value="FR">Français</option>
                    <option value="ES">Espagnol</option>
                    <option value="PT">Portuguais</option>
                </select>
            </div>
            <div class="form-group row">
                <label class="col-lg-2 control-label">{{translate('Organisation')}}</label>
                <input class="form-control col-lg-10" type="text" formControlName="organisation" placeholder="{{translate('Organisation')}}">
            </div>        
            <div class="form-group row" formGroupName="phone">
                <label class="col-lg-2 control-label">{{translate('Phones')}}</label>
                <input class="form-control col-lg-4" type="text" formControlName="phone1" placeholder="{{translate('Phone 1')}}">
                <input class="form-control col-lg-4" type="text" formControlName="phone2" placeholder="{{translate('Phone 2')}}">
                <input class="form-control col-lg-2" type="text" formControlName="phone3" placeholder="{{translate('Phone 3')}}">
            </div>
            <div class="form-group row" formGroupName="address">
                <label class="col-lg-2 control-label">{{translate('Address')}}</label>
                <input class="form-control col-lg-2" type="text" formControlName="address1" placeholder="{{translate('Address 1')}}">
                <input class="form-control col-lg-2" type="text" formControlName="address2" placeholder="{{translate('Address 2')}}">
            </div>
            <div class="form-group row" formGroupName="address">
                <label class="col-lg-2 control-label">{{translate('Postal code')}}</label>
                <input class="form-control col-lg-2" type="text" formControlName="postalcode" placeholder="{{translate('Postal code')}}">
                <label class="col-lg-1 control-label">{{translate('City')}}</label>
                <input class="form-control col-lg-3" type="text" formControlName="city" placeholder="{{translate('City')}}">
                <label class="col-lg-1 control-label">{{translate('Country')}}</label>
                <input class="form-control col-lg-3 " type="text" formControlName="country" placeholder="{{translate('Country')}}">
            </div>
        </fieldset>
        <div class="form-group row">
            <button type="submit" [disabled]="!formGroup.valid" class="btn btn-primary" (click)="save()">{{translate('Save')}}</button>
        </div>
    </form>
    <br>
    <br>
    <h1>{{translate('Password')}}</h1>
    <br>
    <form *ngIf="isConnected" class="form-horizontal"  [formGroup]="formGroupPassword" >
        <fieldset class="row">
            <div class="form-group row" formGroupName="pass">
                <label class="col-lg-2 control-label">{{translate('Password')}}</label>
                <input class="form-control col-lg-4" type="text" formControlName="password" placeholder="{{translate('Password')}}">
                <label class="col-lg-2 control-label">{{translate('Confirm password')}}</label>
                <input class="form-control col-lg-4" type="text" formControlName="confirmPassword" placeholder="{{translate('Confirm password')}}">
            </div>
        </fieldset>
        <div class="form-group row">
            <button type="submit" [disabled]="!formGroupPassword.valid" class="btn btn-primary" (click)="changePassword()">{{translate('Change password')}}</button>
        </div>
    </form>
</div>
