<div class="row"> <!-- Title -->
    <div class="col-10">
        <h3>
            {{translate('Questionnaires')}}
            <span *ngIf="questionnaires" class="badge badge-primary badge-pill"> {{questionnaires.length}}</span>
        </h3>
    </div>

    <div class="col-2 text-right" style="cursor: pointer;">
        <div class="dropdown">
            <button style="background-color:transparent; border: 0" class="btn btn-secondary" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                <i  class="fa fa-ellipsis-v"></i>
            </button>
            <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                <a class="dropdown-item" (click)="newQuestionnaire()"><i class="fa fa-plus"></i> {{translate('New questionnaire')}}</a>
                <a class="dropdown-item" (click)="import()"><i class="fa fa-download"></i> {{translate('Import a questionnaire')}}</a>
                <div class="dropdown-divider"></div>
                <a class="dropdown-item" (click)="filter('questionnaire', showDisabled)"><i class="fa fa-filter"></i> {{translate('Questionnaires only')}}</a>
                <a class="dropdown-item" (click)="filter('test', showDisabled)"><i class="fa fa-filter"></i> {{translate('Tests only')}}</a>
                <div class="dropdown-divider"></div>
                <a class="dropdown-item" (click)="filter(filterType, !showDisabled)">
                    <i *ngIf="showDisabled" class="fa fa-check"></i> {{translate('Show disabled')}}
                </a>
                <div class="dropdown-divider"></div>
                <a class="dropdown-item" (click)="filter()"><i class="fa fa-filter"></i> {{translate('No filter')}}</a>
            </div>
        </div>
    </div>
</div>

<!-- List -->
<div class="list-group">

    <!-- Questionnaires -->
    <div *ngFor="let questionnaire of questionnaires; let i = index" class="list-group-item"  [style.background-color]="i%2 == 0 ? 'whitesmoke': 'transparent'">
        <questionnaireLocal [questionnaire]="questionnaire" [questionnaires]="questionnaires" (deleted)="load()"></questionnaireLocal>
    </div>
    
</div>