<div class="modal-header">
    <h4 class="modal-title pull-left">{{title}}</h4>
    <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
        <span aria-hidden="true">&times;</span>
    </button>
</div>    
<div class="modal-body text-center">
    <div class="row">
        <div class="col-10">
            <p *ngIf="bodyMessage" style="text-align: left">{{bodyMessage}}</p>
            <p *ngIf="message && readOnly">{{message}}</p>
        </div>
        <div class="col-2">
            <button class="btn btn-default text-right" type="button" ngxClipboard [cbContent]="message" title="{{translate('Copy to clipboard')}}">
                <i class="fa fa-clipboard"></i>
            </button>
        </div>
    </div>
    <br>
    <textarea *ngIf="!readOnly" class="form-control" placeholder="{{message}}" [(ngModel)]="message"></textarea>
    <br>
    <button *ngIf="button1Label" type="button" class="btn btn-default" (click)="button1Clicked()">{{button1Label}}</button>
    <button *ngIf="button2Label" type="button" class="btn btn-primary" (click)="button2Clicked()">{{button2Label}}</button>
</div>