.appContainer {
    width: 90%;
    margin-left: auto;
    margin-right: auto;
}

.footer{
    width: 99%;
    position: fixed;
    left: 0px;
    bottom: 0px;
    height: 25px;
    width: 100%;
    background:#e7e7e7;
}

a:focus, a:hover{
    text-decoration: none;
}

.ng-sidebar--over {
    --box-shadow: 0 0 2.5em rgba(85, 85, 85, 0.5);
    width: 300px;
    background: whitesmoke;
}

.sidebarMenu{
    margin-bottom: 10px;
    margin-left: 23px;
}

.sidebarBranch>.card {
    box-shadow: none;
    border-color: transparent;
    background: whitesmoke;
}

.sidebarBranch>.panel-default>.panel-heading>.panel-title{
    font-size: 1em;
    color: black;
    border-color: transparent;
}

.sidebarBranch>.panel-default>.panel-heading+.panel-collapse>.panel-body{
    background-color: rgba(69, 64, 64, 0.05);
}

.sidebarBranch>.panel-default>.panel-heading{
    background: transparent;
    color: black;
    border-color: transparent;
}

.sidebarSubmenu{
    margin-left: 15px;
    margin-top: 5px;
    margin-bottom: 10px;
    border: 1px;
    font-size: 1em;
    color: black;
}

.sidebarHeader{
    background: whitesmoke;
    height: 180px;
    background-image: -webkit-gradient(linear, left top, left bottom, from(white), to(grey));
    background-image: -webkit-linear-gradient(top, white, grey);
    background-image: -moz-linear-gradient(top, white, grey);
    background-image: linear-gradient(to bottom, white, grey);
}

.sidebarMenuLink {
    text-decoration: none; 
    width: 98%;
    color: black;
}

.sidebarMenuLink:hover {
    text-decoration: none; 
    color: black;
}

.sidebarUserImage{
    margin: 10px;
}

.sidebarUserText{
    margin: 10px;
    font-size: 0.8em;
    color: white;
}

.round {
    /* fill the container, preserving aspect ratio, and cropping to fit */
    background-size: cover;

    /* center the image vertically and horizontally */
    background-position: center;

    /* round the edges to a circle with border radius 1/2 container size */
    border-radius: 50%;
}

.notificationRed{
    background-color: red;
    padding: 10px;
    
}
.notificationVigie{
    background-color: blueviolet;
    padding: 3px;
    font-size: 1em;
}
.notificationVigie h2{
    background-color: blueviolet;
    padding: 3px;
    font-size: 1.2em;
}

a.notificationRedText {
    color: whitesmoke;
}

.panel{
    margin-top: 10px;
}