<accordion *ngIf="menu && menu.sidebarMenu">
    <div *ngFor="let men of menu.sidebarMenu">
        <div *ngIf="!men.submenu" class="sidebarMenu">
            <a class="sidebarMenuLink" [routerLink]="men.href" title="{{men.title}}"><i *ngIf="men.icon" class="fa fa-{{men.icon}}"></i> {{men.label}}</a>
        </div>
        <accordion-group *ngIf="men.submenu" class="sidebarBranch">
            <div  accordion-heading class="sidebarBranch" style="cursor: pointer">
                <i *ngIf="men.icon" class="fa fa-{{men.icon}}"></i> {{men.label}}<i class="pull-right fa fa-caret-right"></i>
            </div>
            <div *ngFor="let submen of men.submenu" class="sidebarSubmenu">
                <a (click)="clickMenu(submen.href)" class="sidebarMenuLink" title="{{ submen.title }}" style="cursor: pointer"><i *ngIf="submen.icon" class="fa fa-{{submen.icon}}"></i> {{submen.label}}</a>
            </div>
        </accordion-group>
    </div>
</accordion>  