<h3>{{translate('Search')}} <span *ngIf="questionsSearch" class="badge badge-primary badge-pill">{{questionsSearch.length}}</span></h3>
<div class="list-group">
    <div class="list-group-item" *ngFor="let question of questionsSearch">
        <h6>{{question.questionnaireTitle}}</h6>    
        <span class="badge badge-primary badge-pill">{{question.foundType}}</span>
        <br>
        <br>
        <question [question]="question" [editable]="true" (change)="updateQuestion(question)"></question>
    </div>
</div>