<div *ngIf="!group" >
    <div *ngFor="let question of questions" class="list-group-item">
        <questionSimple [question]="question" [questionnaire]="questionnaire" [editable]="editable" (change)="changed()"></questionSimple>
    </div>
</div>
<div *ngIf="group" class="list-group">
    <div *ngFor="let object of questions | groupBy:'questionLabel'; let i = index" 
        class="list-group-item" [style.background-color]="i%2 == 0 ? 'whitesmoke': 'transparent'">
        <div class="row">
            <div class="col-10" (click)="object.showGroupedQuestions = !object.showGroupedQuestions" style="cursor: pointer" [innerHTML]="object.key"></div>
            <div class="col-2 text-right"><span class="badge badge-primary badge-pill"> {{object.value.length}}</span></div>
        </div>
        <div class="list-group" *ngIf="object.showGroupedQuestions">
            <br>
            <div *ngFor="let question of object.value" class="list-group-item">
                <questionGroup [question]="question" [questionnaire]="questionnaire" [editable]="editable" (change)="changed()" [showAnswers]="true"></questionGroup>
            </div>
        </div>
    </div>
</div>