<div *ngIf="!group" >
    <div *ngFor="let question of questions" class="list-group-item">
        <questionSimple [question]="question" [questionnaire]="questionnaire" [editable]="editable" (change)="changed()"></questionSimple>
    </div>
</div>
<div *ngIf="group" class="list-group">
    <div *ngFor="let object of questions | groupBy:'questionLabel'; let i = index" class="list-group-item" [style.background-color]="i%2 == 0 ? 'whitesmoke': 'transparent'">
        <h5 (click)="object.showGroupedQuestions = !object.showGroupedQuestions" style="cursor: pointer">
            {{object.key}}
            <span class="badge badge-primary badge-pill"> {{object.value.length}}</span>
        </h5>
        <div class="list-group" *ngIf="object.showGroupedQuestions">
            <div *ngFor="let question of object.value" class="list-group-item">
                <questionGroup [question]="question" [editable]="editable" (change)="changed()" [showAnswers]="true"></questionGroup>
            </div>
        </div>
    </div>
</div>