<h6>{{question.questionnaireTitle}}</h6>
<question [question]="question" [editable]="false"></question>
<!-- <em>{{question.question}}</em>
<div>
    <span *ngIf="question.status" class="badge badge-pill badge-success"><i class="fa fa-thumbs-up"></i> {{answerLabelNok}}</span>
    <span *ngIf="!question.status" class="badge badge-pill badge-danger"><i class="fa fa-thumbs-down"></i> {{answerLabelOk}}</span>
    <b>{{question.customAnswer}}</b>
</div>
<span (click)="question.showAnswers = !question.showAnswers" style="cursor: pointer"><i class="fa fa-arrow-right"></i> {{translate('See all correct answers')}}</span>
<div *ngIf="question.showAnswers">
    <div *ngFor="let answer of question.answers" style="margin-left: 30px">
        <i>{{answer.answer}}</i>
    </div>
</div> -->
